body
{
    font-family: 'Lato', sans-serif;
    background: #151D21;
    background-image: url('../zdjęcia/OwO.png');
}
::-webkit-scrollbar {
    width: 0px;
}
a:hover {
    color: #ff7a7a;
}
.mybutton {
    font-family: 'Roboto';
    font-size: 24px;
    color: #151D21;
    background: #ff7a7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}
.mybutton:hover {
    background: white;
    font-size: 26px;
    margin-top: 29px;
}